@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: black;
}

body {
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  @apply rounded-lg shadow hover:shadow-lg transition p-4 text-white border border-[#4b5563];
  background: linear-gradient(135deg, #0b0f19, #1e293b);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 16px 40px rgba(255, 255, 255, 0.15);
}

.card-img {
  @apply w-full h-40 object-cover rounded mb-2;
}

.detail_container {
  @apply rounded-lg shadow hover:shadow-lg transition p-4 text-white border border-[#4b5563];
  background: linear-gradient(135deg, #0b0f19, #1e293b);
}